@using RESTAURANTE
@{
    List<Catalogo_BE> LISTA = ViewBag.lista;
}

<option disabled selected>SELECCIONE CATEGORÍA</option>
@foreach (var row in LISTA)
{
    <option value="@row.ID_CATEGORIA"> @row.NOMBRE </option>
}