@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <!--SWEET ALERT-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        function Get_PedidosPendientes() {
            $('#divPedidos').load('@Url.Action("Get_PedidosPendientes")');
        }

        $(document).ready(function () {
            Get_PedidosPendientes();
            setInterval(Get_PedidosPendientes, 10000);
        });

        function ShowModalPedidosPorMenu(id_producto, titulo) {
            Swal.fire({
                title: '',
                text: titulo,
                showCloseButton: true,
                showCancelButton: true,
                confirmButtonText: 'Despachar',
                cancelButtonText: 'Ver'
            }).then((result) => {
                if (result.isConfirmed) {
                    DespacharLote(id_producto)
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    $('#modalPedidos').modal('show');
                    $('#divdetalleLote').load('@Url.Action("Get_PedidosPorMenu")', { id_producto, titulo});
                }
            });
        }

        function DespacharLote(id_producto) {
            $.post('@Url.Action("DespacharLote")', { id_producto }, function (response) {
                if (response.Codigo == '1') {
                    $('#modalPedidos').modal('hide');
                    Get_PedidosPendientes();
                }
                else {
                    Alert(response.Descripcion, NotifyIcon.warning);
                }
            });
        }
    </script>
}

@section styles{
    <style>
        .headColor {
            background-color: dimgray;
            color: white;
            font-size: 13px;
        }

        input {
            margin-top: -10px;
        }

        .zoom {
            transition: transform .2s;
            margin: 0 auto;
        }

            .zoom:hover {
                -ms-transform: scale(5); /* IE 9 */
                -webkit-transform: scale(5); /* Safari 3-8 */
                transform: scale(2);
            }

        .modal-fullscreen {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

            .modal-fullscreen .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }
    </style>
}

<div class="row" id="divPedidos"></div>

<div class="modal" id="modalPedidos" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" style="background-color: #e4e5eb ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="divdetalleLote">

                    </div>
                </div>
            </div>
            <div class="card-footer text-center text-md-center bg-white">
                <button class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fad fa-times me-1"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>