@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <!--SWEET ALERT-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        function Get_PedidosPendientesDeEntregar() {
            $('#divPedidos').load('@Url.Action("Get_PedidosPendientesDeEntregar")');
        }

        $(document).ready(function () {
            Get_PedidosPendientesDeEntregar();
            setInterval(Get_PedidosPendientesDeEntregar, 10000);
        });

        function Asignar_Pedido(id_pedido) {
            Confirm('Te asignarás el Pedido '+id_pedido+' ¿Quieres continuar?', function () {
                $.post('@Url.Action("Asignar_Pedido")', { id_pedido }, function (response) {
                    console.log(response);
                    if (response.Resultado) {
                        Notify(response.Descripcion, NotifyIcon.success);
                        Get_PedidosPendientesDeEntregar();
                    }
                    else {
                        Alert(response.Descripcion, NotifyIcon.warning);
                    }
                });
            });
        }
    </script>
}

<div class="row" id="divPedidos"></div>