
@{
    ViewBag.Title = "Index";
}


<div class="col-md-12">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title" style="height:12px; padding-top:-15px">CATALOGO</h3>
        </div>
        <div class="card-body">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-content-center" id="buttons">
                <button onclick="GetData()" type="button" class="btn btn-secondary" title="Generar Búsqueda"><i class="fas fa-sync"></i></button>
                <button onclick="OpenModalCreate()" type="button" class="btn btn-success" title="Generar Búsqueda"><i class="fas fa-plus"></i></button>
            </div>
            <div class="col-12 mt-1" id="divData"></div>
        </div>
    </div>
</div>