@font-face {
    font-family: 'iossansprint-regular';
    src: url('fonts/iossansprint-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'iossansprint-bold';
    src: url('fonts/iossansprint-bold.ttf') format('truetype');
}